﻿@{
    ViewData["Title"] = "Add Pattern";
}
<head>
    <link rel="stylesheet" href="/css/AddPattern.css">
</head>

<body>

    <div class="text-center">
        <h1 class="page-title">Add Pattern</h1>
    </div>

    <div class="placeHolder">
        <img src="~/Images/logo.png" alt="Logo" width="40%" height="auto" class="logo">
        <h5 class="logo-name">The Sew Library</h5>

        @using (Html.BeginForm("Index", "Home"))
        {
            <button class="return-button">Return</button>
        }
    </div>

    <div class="add-pattern-content">
        <h5 class="upload-pattern-text">Upload pattern</h5>
                <div class="upload">
                    <img src="~/Images/upload-icon.png" alt="upload icon" width="40%" height="auto" class="upload-icon">
                    <h3 class="upload-text">Drop file to upload or <a href="#" id="browse-link">browse</a></h3>
                </div>

        <h5 class="Name-pattern">Add pattern name</h5>
            <div class="input-container">
            <input type="text" id="pattern-name-input" placeholder="Enter pattern name">
            </div>

        <h5 class="Category-pattern">Categorize pattern</h5>
            <div class="dropdown-container">
                <div class="dropdown">
                    <select id="category-dropdown">
                        <option value="" disabled selected>Choose category</option>
                        <option value="category1">Dress</option>
                        <option value="category2">Top</option>
                        <option value="category3">Shirt</option>
                        <option value="category4">Skirt</option>
                        <option value="category5">Trouser</option>
                        <option value="category6">Sweater</option>
                        <option value="category7">Hoodie</option>
                        <option value="category8">Blouse</option>
                        <option value="category9">Jacket</option>
                        <option value="category10">Short</option>
                        <option value="category11">Accessories</option>
                        <option value="category12">Miscellaneous</option>
                    </select>
                </div>
            </div>
    </div>

    <div class="add-button-popup">
        <button type="button">Add</button>
    </div>





</body>