@{
    ViewData["Title"] = "Home Page";
}
<head> 
    <link rel="stylesheet" href="/css/Homepage.css">
</head>
<body>


<div class="text-center">
        <h1 class="page-title">Your Library</h1>
</div>


<div class="search-container">
    <input type="text" class="search-bar" placeholder="Search...">
</div>

<div class="placeHolder">
    <img src="~/Images/logo.png" alt="Logo" width="40%" height="auto" class="logo">
    <h5 class="logo-name">The Sew Library</h5>
    <button class="add-button">Add Pattern</button>
</div>



</body>