@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


body {
    margin-top: -57px;
    margin-bottom: 60px;
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}


.page-title {
    color: #4b433f;
    position: relative;
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


.logo-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 180px;
    position: fixed;
    color: #4b433f;
}

/*Left menu window*/
.return-button {
    background-color: #e9e5df;
    border: none;
    color: #4b433f;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 0;
    position: relative;
    margin-top: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.return-button::before {
    top: 0;
}

    .return-button::after {
        bottom: 0;
    }

    .return-button:hover {
        background-color: #efebe7;
    }

.placeHolder {
    background-color: #e9e5df;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 50px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.logo {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    position: fixed;
    width: 150px;
    height: auto;
    left: 0;
    position: fixed;
}


.upload-pattern-text{
    text-align: left;
    margin-left: 300px;
    margin-top: 100px;
}

    .upload {
        width: 350px;
        height: 166px;
        background-color: #efebe7;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-left: 300px;
    }

    .upload-icon {
        margin: 0 auto;
        width: 20%;
        height: auto;
        margin-top: 0px;
    }

    .upload-text {
        text-align: center;
        margin-top: 10px;
        color: #7a6e6a;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        margin-top: 20px;
    }

.Name-pattern {
    text-align: left;
    margin-left: 300px;
    margin-top: 50px;
}


.input-container {
    margin-left: 290px;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}

#pattern-name-input {
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}



.Category-pattern {
    text-align: right;
    margin-right: 300px;
    margin-top: -345px;
}


.dropdown-container {
    position: absolute;
    top: 230px;
    right: 550px;
}


.dropdown select {
    background-color: #efebe7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #7a6e6a;
}

    .dropdown select::-ms-expand {
        display: none;
    }

    .dropdown select:focus {
        outline: none;
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    .dropdown select option {
        background-color: #fff;
        color: #7a6e6a;
    }

.add-button-popup {
    background-color: #efebe7;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: 150px;
    outline: none;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
}

    .add-button-popup button {
        background: none;
        border: none;
        padding: 0;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #7a6e6a;
        width: 100%;
        cursor: pointer;
    }











/*.add-pattern-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.add-pattern-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 860px;
    height: 440px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}






.text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}






*/