@using Sewapp.Core.Models
@model List<Pattern>

@{
    ViewData["Title"] = "Pattern Library";
}

<head>
    <link rel="stylesheet" href="/css/Homepage.css">
</head>
<body>


    <div class="text-center">
        <h1 class="page-title">Your Library</h1>
    </div>


    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search...">
    </div>

    <div id="pattern-container" class="pattern-container"></div>



    <div class="placeHolder">
        <img src="~/Images/logo.png" alt="Logo" width="40%" height="auto" class="logo">
        <h5 class="logo-name">The Sew Library</h5>

        @using (Html.BeginForm("AddPatternForm", "Pattern"))
        {
            <button class="add-button">Add Pattern</button>
        }

        @using (Html.BeginForm("AddPatternForm", "Pattern"))
        {
            <button class="add-category">Add Category</button>
        }

    </div>


    <h2 class="Pattern-List">Pattern List</h2>
    <ul>
        @if (Model != null)
        {
            @foreach (var pattern in Model)
            {
                <li>@pattern.Name</li>
            }
        }
    </ul>





  



</body>